.footer {
    background-color: var(--color-preto-suave);
    padding: 60px 10px;
}

.footer-container {
    max-width: 1400px;
    margin: 0 auto;
}

.footer-container .subtitulo {
    color: var(--color-branco);
    font-size: var(--size-subtitulo);
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: var(--font-fira);
    margin-bottom: 40px;
}

.footer-container .subtitulo::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 26px;
    background-color: var(--color-branco);
    margin-right: 20px;
}

.items-footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    gap: 20px;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
}

.items-footer .redes-sociais img {
    max-width: 60px;
}

.redes-sociais a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--size-links);
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 20px;
    font-family: var(--font-fira);
    font-weight: bold;
    color: var(--color-branco);
}

.localizacao h3 {
    font-size: var(--size-links);
    color: var(--color-branco);
    margin-bottom: 30px;
    font-family: var(--font-fira);
}

.informacoes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.informacoes p , .informacoes a {
    color: var(--color-branco);
    font-style: normal;
    font-size: var(--size-links);
}

.informacoes a {
    text-decoration: none;
}

@media (max-width: 840px) {
    .footer-container .subtitulo {
        font-size: var(--size-subtitulo-2);
    }
    .footer-container .subtitulo::before {
        height: 13px;
    }
}

@media (max-width: 980px) {
    
    .items-footer {
        grid-template-columns: 1fr;
        align-items: start;
    }

    .items-footer .localizacao {
        margin-top: 30px;
    }

    .items-footer .redes-sociais a {
        margin-left: 0px;
        margin-right: 0px;
    }

    .items-footer .localizacao img {
       height: auto;
    }

    .items-footer .informacoes {
        font-size: var(--size-links);
    }
}