.informacoes-bg {
    background-color: var(--color-preto);
    padding: 10px 20px;
}

.informacoes {
    color: var(--color-branco);
    font-style: normal;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

.informacoes p, .informacoes a {
    font-style: normal;
    font-size: var(--size-texto-secundario);
}

.informacoes a {
    color: var(--color-branco);
}